exportPattern("^[[:alpha:]]+")

useDynLib(ProFound, .registration=TRUE)

import("FITSio")
import("magicaxis")
import("data.table")
import("celestial")
import("stats")
import("graphics")
import("grDevices")
import("foreach")

importFrom("Rcpp", "evalCpp")
importFrom("utils", "relist", "packageVersion")
importFrom("RColorBrewer", "brewer.pal")

S3method("plot","profound")
S3method("plot","fitmagpsf")
