exportPattern("^[[:alpha:]]+")

useDynLib(ProFound, .registration=TRUE)

import("FITSio")
import("magicaxis")
import("data.table")
import("stats")
import("graphics")
import("grDevices")
import("foreach")
import("doParallel")

importFrom("Rcpp", "evalCpp")
importFrom("utils", "relist", "packageVersion")
importFrom("celestial", "getpixscale")
importFrom("matrixStats", "colQuantiles", "colCounts")

S3method("plot","profound")
S3method("plot","fitmagpsf")
